
project/.idea/inspectionProfiles/profiles_settings.xml
project/.idea/inspectionProfiles/Project_Default.xml
project/.idea/modules.xml
project/.idea/project.iml
project/.idea/vcs.xml
project/flask/.idea/workspace.xml
project/flask/.idea/vcs.xml
project/flask/.idea/modules.xml
project/flask/.idea/misc.xml
project/flask/.idea/inspectionProfiles/Project_Default.xml
project/flask/.idea/inspectionProfiles/profiles_settings.xml
project/flask/.idea/flask.iml
project/.idea/misc.xml
